/* Default style */
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.dft-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.other-heading{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
.dft-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
}
.dft-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

/* Header style */
.header{
    background-color: rgba(229, 84, 115, 0.1);
    margin: 128px 0;
    padding: 100px 0 0;
}
.header-row{
    width: 1440px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.header-col-a{
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}
.header-col-a h3{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.header-col-a p{
    padding: 32px 0;
    width: 600px;
}
.header-col-b{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: end;
}
.header-col-b img{
    width: 635px;
    height: 800px;
}

/*Featured style*/
.featured{
    margin: 178px 240px 128px;
}
.featured-container{
    max-width: 1440px;
    margin: auto;
    text-align: center;
}
.featured-container p{
    padding: 24px 0 48px;
    width: 600px;
    margin: auto;
}
.featured-img{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.featured-img-1{
    padding: 110px 78px 0 76px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 32px;
}
.featured-img-2{
    padding: 117px 47px 51px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 32px;
}
.featured-img-3{
    padding: 67px 75px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-bottom: 32px;
}
.featured-img span{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    font-weight: 900;
}

/* Hot deal */
.hot-deal{
    background-color: rgba(229, 84, 115, 0.05);
    margin: 128px 0;
    padding: 100px 0;
}
.hot-deal-row{
    width: 1440px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.hot-deal-col-a{
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.hot-deal-col-a p{
    padding: 24px 0 32px;
    width: 600px;
    margin: auto;
}
.hot-deal-col-b{
    width: 50%;
    text-align: center;
}
.hot-deal-col-b img{
    width: 318px;
    height: 420px;
}

/*Social section style*/
.social{
    margin: 0 240px;
}
.social-container{
    max-width: 1440px;
    margin: auto;
    text-align: center;
}
.social-container p{
    padding: 24px 0 48px;
    width: 600px;
    margin: auto;
}
.social-img{
    display: flex;
    justify-content: center;
    gap: 24px;
}

/*Latest deals section style*/
.latest-deal{
    margin: 128px 240px;
}
.latest-deal-container{
    background-image: url('Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1440px;
    margin: auto;
    padding: 122px 0;
    text-align: center;
    border-radius: 8px;
}
.latest-deal-container p{
    padding: 16px 0 48px;
}
.latest-deal-form{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.latest-deal-container input[type="email"]{
    font-size: 16px;
    width: 700px;
    border: none;
    border-radius: 8px;
    padding: 18px 22px;
}


/*footer style*/
.footer{
    background: #111010;
}
.footer-container{
    margin: auto;
    text-align: center;
    padding: 128px 0;
    width: 625px;
}
.footer-container span{
    color: #fff
}
.footer-text{
    padding: 24px 0 32px;
    color: rgba(255, 255, 255, 0.90);
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}
