/* Default style */
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.dft-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.other-heading{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
.dft-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
}
.dft-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}


/* Header style */
.header{
    background: rgba(229, 84, 115, 0.10);
}
.header-row{
    width: 1140px;
    height: 850px;
    display: flex;
    margin: auto;
    gap: 100px;
}
.header-col-a{
    width: 60%;
}
.header-heading{
    color: #272727;
    font-size: 65px;
    font-weight: 800;
}
.header-col-b{
    width: 40%;
}
.header-pic{
    width: 400px;
    height: 600px;
}

/* Hot deal */
.hot-deal{
    background-color: rgba(229, 84, 115, 0.05);
}
.hot-deal-row{
    display: flex;
}
.hot-deal-row h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

/*Latest deals section style*/
.latest-deal{
    margin: 128px 240px;
}
.latest-deal-row{
    background-image: url('Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1440px;
    margin: auto;
    padding: 122px 0;
    text-align: center;
}
.latest-deal input[type="email"]{
    font-size: 16px;
    width: 700px;
    border: none;
    border-radius: 8px;
    padding: 18px;
}


/*footer style*/
.footer{
    background: #111010;
}
.footer-row{
    margin: auto;
    text-align: center;
    padding: 128px 0;
    width: 625px;
}
.footer-row span{
    color: #fff
}
.footer-text{
    padding: 24px 0 32px;
    color: rgba(255, 255, 255, 0.90);
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}